head, body, {background-color: black}


h1{
  font-family: 'Cormorant Unicase', serif;
  font-style: italic;
  text-align: center;
}

h4{
  font-family: 'Cormorant Unicase', serif;
  font-family: 'Comfortaa', cursive;
}

.makeff9b0f{
  color:#ff9b0f;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#asmara{
  width: 400px;
  height: 350px;
  title: "Asmara, Eritrea";
}
